/* Global animations
  ================================================== */

.rotate-180 {
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  -webkit-transform:rotate(180deg);
  transform:rotate(180deg);
}
