/* Base button setup
  ================================================== */

.button, button, input[type="submit"], input[type="reset"] {
  border-radius: 3px;
  border: 1px solid;
  cursor: pointer;
  display: inline-block;
  font-size: 0.9rem;
  letter-spacing: 0.04rem;
  outline: none;
  padding: 0.8rem 1.4rem;
  text-align: center;
  text-decoration: none;

  &.large { font-size: 1.1rem; }
  &.block { display: block; }
}
