/* Header
  ================================================== */

header {
  @extend %clearfix;
  min-height: 3rem;
  position: relative;
  width: 100%;
  z-index: 10;

  .row {
    max-width: 100%;
  }

  nav {
    font-size: 0.9rem;

    .title {
      font-size: 1.1rem;
      margin-left: 0rem;
    }

    a {
      border: none;
      color: #fff;
      font-size: 0.9rem;
      margin-left: 1.5rem;
      text-decoration: none;

      &:hover, &:focus {
        color: #fff;
        opacity: 0.5;
      }
    }
  }

  .account {
    float: right;
  }

  .rotate {
    @extend .rotate-180;
  }

  &.white {
    background-color: #fff;

    nav {
      .title {
        font-size: 1.1rem;
        margin-left: 0rem;
      }

      a {
        border: none;
        font-size: 0.9rem;
        margin-left: 1.5rem;
        text-decoration: none;

      }
    }
  }
}

/* Hero
  ================================================== */

.hero {
  height: 25rem;
  text-align: center;
  display: table;
  width: 100%;

  @media #{$tablet} {
    height: 35rem;
  }

  &.clear-header {
    margin-top: -3rem;
  }

  .hero-inner {
    padding: 0 1rem;
    display: table-cell;
    vertical-align: middle;
  }

  .button {
    margin-top: 2rem;
  }

  h1 {
    @extend h1.special;
    font-size: 2.1rem;
    margin: 0;
    text-align: center;

    small {
      opacity: 0.5;
      font-size: 45%;

    }
  }
}
