// Dashing.css configuration options


/* Type Size
  ================================================== */

  $xlarge:  1.953rem;
  $large:   1.563rem;
  $medium:  1.25rem;
  $body:    1rem;
  $small:   0.8rem;



/* Grid
  ================================================== */

  $global-content-width: 1000px;

  $tablet: "all and (min-width: 40rem)" !default;
  $desktop: "all and (min-width: 64rem)" !default;
