/* Default styles
  ================================================== */

body {
  color: $body-color;
  font-family: $body-font;
}

/* Headers
  ================================================== */

h1, h2, h3, h4, h5, h6 {
  color: $primary-color;
  font-family: $header-font;
  font-weight: 500;
  margin-bottom: 0;

  small {
    color: $dark-gray;
    display: block;
    font-family: $body-font;
    font-size: 60%;
    font-weight: normal;
    line-height: 1.5rem;
  }

  &.centered {
    text-align: center;
  }
}

h1.special {
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 0.1rem;

  small {
    font-family: $body-font;
    text-transform: none;
  }
}

h2 {
  font-size: 1.5rem;
}

h4 {
  color: $body-color;
}

/* Links
  ================================================== */

a {
  border-bottom: 1px solid $body-color;
  color: $body-color;
  outline: none;
  text-decoration: none;

  &:hover, &:focus {
    border-color: $light-blue;
    color: $light-blue;
  }
}

/* Paragraph
  ================================================== */

p {
  line-height: 1.7rem;
}

.definition {
  font-style: italic;
  margin-left: 1rem;
}

.version {
  border-radius: 3px;
  border: 1px solid;
  display: inline-block;
  font-size: 0.7rem;
  line-height: 1rem;
  padding: 0.3rem;
  position: relative;
  top: -0.75rem;
}
