* {
  transition: color ease 0.3s, border-color ease 0.3s;
}

header {
  position: relative;
  z-index: 10;
  width: 100%;
  background-color: $primary-color;
  min-height: 3rem;

  .row {
    max-width: 100%;
  }

  nav {
    .title {
      margin-left: 0rem;
      font-size: 1.1em;
    }

    a {
      font-size: 0.9em;
      color: #fff;
      text-decoration: none;
      margin-left: 1.5rem;
      border: none;
      line-height: 32px;

      &:hover, &:focus {
        color: #73A8C5;
      }
    }
  }

  .account {
    float: right;
  }
}

.hero {
  background-color: $primary-color;
  position: relative;
  height: 25rem;
  margin-top: -3em;

  @media #{$tablet} {
    height: 35rem;
  }

  .button {
    margin-top: 2.5rem;
  }

  .hero-inner {
    position: absolute;
    padding: 0 1em;
    height: 11em;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 2;
    margin: auto;
    text-align: center;
  }

  h1 {
    color: #addbbc;
    text-align: center;
    font-size: 2.1rem;
    margin: 0;
    font-weight: 900;
    text-transform: uppercase;
    font-family: "museo-sans",sans-serif;
    letter-spacing: 0.1rem;

    .version {
      font-size: 0.7rem;
      border: 1px solid;
      padding: 0.4rem;
      border-radius: 3px;
      display: inline-block;
      line-height: 1em;
      position: relative;
      top: -0.8em;
    }

    small {
      color: rgba(173, 219, 188, 0.5);
      display: block;
      font-weight: normal;
      font-size: 40%;
      line-height: 1.5rem;
      letter-spacing: 0.05rem;
      text-transform: none;
      font-family: "Helvetica Neue", sans-serif;
    }
  }
}

footer {
  background-color: #EEEFF0;
  padding: 1rem 0;

  .copyright {
    font-size: 0.8rem;

    @media #{$tablet} {
      display: inline-block;
    }
  }

  a {
    font-size: 0.8rem;
    display: inline-block;
    margin-top: 1em;
    margin-right: 1em;

    @media #{$tablet} {
      margin-left: 2rem;
    }
  }
}
