header {
  background-color: $primary-color;
  min-height: 3rem;
  position: relative;
  width: 100%;
  z-index: 10;

  .row {
    max-width: 100%;
  }

  nav {
    .title {
      font-size: 1.1rem;
      margin-left: 0rem;
    }

    a {
      border: none;
      color: #fff;
      font-size: 0.9rem;
      margin-left: 1.5rem;
      text-decoration: none;
    }
  }

  .account {
    float: right;
  }

  &.white {
    background-color: #fff;

    nav {
      .title {
        font-size: 1.1rem;
        margin-left: 0rem;
      }

      a {
        border: none;
        color: $blue;
        font-size: 0.9rem;
        margin-left: 1.5rem;
        text-decoration: none;

        &:hover, &:focus {
          color: $light-blue;
        }
      }
    }
  }
}

.hero {
  background-color: $primary-color;
  height: 25rem;
  text-align: center;
  display: table;
  width: 100%;

  @media #{$tablet} {
    height: 35rem;
  }

  &.clear-header {
    margin-top: -3rem;
  }

  .hero-inner {
    padding: 0 1rem;
    display: table-cell;
    vertical-align: middle;
  }

  .button {
    margin-top: 2rem;
  }

  h1 {
    color: $light-green;
    font-family: $header-font;
    font-size: 2.1rem;
    font-weight: 900;
    letter-spacing: 0.1rem;
    margin: 0;
    text-align: center;
    text-transform: uppercase;

    .version {
      border-radius: 3px;
      border: 1px solid;
      display: inline-block;
      font-size: 0.7rem;
      line-height: 1rem;
      padding: 0.3rem;
      position: relative;
      top: -0.75em;
    }

    small {
      opacity: 0.5;
      color: $light-green;
      display: block;
      font-family: $body-font;
      font-size: 45%;
      font-weight: normal;
      letter-spacing: 0.05rem;
      line-height: 1.3rem;
      text-transform: none;
      margin-top: 0.4em;
    }
  }
}

footer {
  background-color: $gray;
  padding: 1rem 0;

  .copyright {
    font-size: 0.8rem;

    @media #{$tablet} {
      display: inline-block;
    }
  }

  a {
    display: inline-block;
    font-size: 0.8rem;
    margin-right: 1rem;
    margin-top: 1rem;

    @media #{$tablet} {
      margin-left: 2rem;
    }
  }
}
