/* Reset all box styles
  ================================================== */

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* Mobile grid (default)
  ================================================== */

html { font-size: 100%; }

.row {
  @extend %clearfix;
  margin: auto;
  padding: 0 1rem;
  width: 100%;
  max-width: $global-content-width;
}

.column {
  @extend %clearfix;
  padding: 1rem;

  &.half, &.third, &.fourth, &.two-thirds, &.full, &.three-fourths {
    width: 100%;
  }
}

/* Tablet grid
  ================================================== */

@media #{$tablet} {
  html { font-size: 105%; }

  .column {
    float: left;

    &.full {
      float: none;
      width: 100%;
    }

    &.two-thirds {
      width: 66.66666666%;
    }

    &.three-fourths {
      width: 75%;
    }

    &.half {
      width: 50%;
    }

    &.third {
      width: 33.33333333%;
    }

    &.fourth {
      width: 25%;
    }

    &.flow-opposite {
      float: right;
    }

    &.center {
      float: none;
      margin: 0 auto;
    }
  }
}

/* Desktop grid
  ================================================== */

@media #{$desktop} {
  html { font-size: 110%; }
}
