body {
  font-family: "source-sans-pro", sans-serif;
  color: $body-color;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "museo-sans", sans-serif;
  letter-spacing: 0.05em;
  margin-bottom: 0;
  color: $primary-color;
  font-weight: 500;

  small {
    color: #999;
    display: block;
    font-size: 60%;
    font-weight: normal;
    line-height: 1.5rem;
  }
}

h1 {
  font-weight: 900;
  text-transform: uppercase;

  small {
    text-transform: none;
    font-family: "source-sans-pro", sans-serif;
  }
}

h2 {
  font-size: 1.5rem;
}

h4 {
  color: $body-color;
}

a {
  text-decoration: none;
  outline: none;
  color: $body-color;
  border-bottom: 1px solid $border-color;

  &:hover, &:focus {
    color: #7FABDD;
    border-color: #7FABDD;
  }
}

p {
  line-height: 1.7rem;
}

.definition {
  p {
    font-style: italic;
    margin-left: 1em;
  }
}
