// Mixins
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  -o-border-radius: $radius;
  border-radius: $radius;
}


// Extendables
%clearfix:before,
%clearfix:after {
  content: " ";
  display: table;
}

%clearfix:after {
  clear: both;
}

%clearfix {
  *zoom: 1;
}


// Action classes
.hide {
  display: none !important;
}

.fixed {
  position: fixed !important;
}

.relative {
  position: relative !important;
}

.float-left {
  float: left !important;
}

.float-right {
  float: right !important;
}

.float-none {
  float: none !important;
}

.center-text {
  text-align: center !important;
}

.remove-margin {
  margin: 0 !important;
}

.remove-padding {
  padding: 0 !important;
}
